body {
    font-family: Arial, sans-serif;
    background-image: url(Camera\ background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
width: 200px;
height: 200px;
margin-left: 100px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
text-decoration: underline;
}

label {
    display: block;
    margin: 10px auto;
}

input[type="text"], input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius:5px;
}

input[type="submit"] {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor:pointer;
}

input[type="submit"]:hover {
    background: #1f9a40;
    color: #000000;
}